// Color variables
$primary-color: #e88069;
$dark-color: #1d1d1d;
$light-color: #fff;
$light-gradient: #fdf4f2;

// RESPONSIVE BREAKPOINTS
$small-laptop: 62.5em; // 1000px
$big-tablet: 50em; // 800px
$small-tablet: 40.625em; // 650px
$big-phone: 37.5em; // 600px
$regular-phone: 28.125em; // 450px
$small-phone: 20em; // 320px

// Font Families
$font-general: "Jost", sans-serif;
