@import "../styles/variables";
@import "../styles/utils";

.cta-section {
  display: flex;
  gap: 3rem;
  background-color: $primary-color;
  padding: 6rem 8rem;
  justify-content: space-between;
  border-radius: 10px;
  background-image: url("../assets/shared/desktop/bg-pattern-call-to-action.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  max-width: 140rem;
  background-position: center center;
  margin: 0 auto;
  transform: translateY(-50%);

  @media only screen and (max-width: $small-laptop) {
    padding: 3rem 6rem;
  }
  @media only screen and (max-width: $big-phone) {
    flex-direction: column;
    padding: 3rem;
    width: 90%;
    & > .cta-button--container {
      justify-content: flex-start;
    }
  }

  @media only screen and (max-width: $regular-phone) {
    width: 95%;
  }

  & > .cta-label {
    color: $light-color;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    flex: 1.2;
    & > h2 {
      font-weight: 400;
    }
  }

  & > .cta-button--container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;

    & > a {
      &:hover {
        background: none;
        outline: 2px solid $light-color;
        color: $light-color;
      }
    }

    @media only screen and (max-width: $big-phone) {
      justify-content: flex-start;
    }
    & > a {
      background: $light-color;
      font-size: 1.8rem;
    }
  }
}
