@import "../styles/variables";

.default-map {
  height: 100%;
  display: none;
  width: 100%;
  object-fit: cover;
  @media screen and (max-width: $big-tablet) {
    max-height: 30rem;
  }
}

iframe,
.default-map {
  display: block;
  @media screen and (max-width: $big-tablet) {
    min-height: 30rem;
  }
  @media screen and (max-width: $regular-phone) {
    min-height: 25rem;
  }
}
