@import "../styles/_variables.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem;

  @media only screen and (max-width: $regular-phone) {
    padding: 3rem 1rem;
  }

  & > .desktop-nav {
    & a.active {
      background-color: $dark-color;
      color: $light-color;
    }
  }

  & > a {
    max-width: 20rem;
    padding: 0;

    @media only screen and (max-width: $regular-phone) {
      max-width: 12.5rem;
    }

    & > img {
      width: 100%;
      display: block;
    }
  }

  & > ul {
    display: flex;
    gap: 2rem;
    @media only screen and (max-width: $big-tablet) {
      display: none;
    }

    & > a {
      text-decoration: none;
      font-size: 1.6rem;
      color: #1c1b1d;
      letter-spacing: 2px;
      transition: all ease-in-out 0.3s;

      &:hover {
        color: $light-color;
      }

      &::before,
      &::after {
        background-color: $primary-color;
      }

      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: 0;
        width: 50%;
        background-color: $dark-color;
        border-radius: 0 0 50% 50%;
        z-index: -1;
        transition: all ease-in-out 0.3s;
      }

      &::after {
        position: absolute;
        content: "";
        bottom: 0;
        right: 0;
        height: 0;
        width: 50%;
        border-radius: 50% 50% 0 0;
        background-color: $dark-color;
        z-index: -1;
        transition: all ease-in-out 0.3s;
      }

      &:hover::after {
        height: 190%;
      }

      &:hover::before {
        height: 190%;
      }
    }
  }

  & .hamburger-nav {
    display: none;
    position: relative;
    z-index: 3;

    .hamburger-toggle {
      @media only screen and (max-width: $regular-phone) {
        & > img {
          max-width: 2.5rem;
          height: 2rem;
        }
      }
    }

    @media only screen and (max-width: $big-tablet) {
      display: block;
    }
  }

  & .mobile-background {
    @media screen and (min-width: $big-tablet) {
      display: none;
    }
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color: $dark-color, $alpha: 0.8);
    width: 100%;
    height: 100vh;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    & .mobile-nav {
      position: relative;
      gap: 3rem;
      text-transform: uppercase;
      letter-spacing: 5px;
      display: flex;
      flex-direction: column;
      z-index: 3;
      min-width: 30rem;
      min-height: 20rem;
      padding: 2rem;
      text-align: center;
      background: $light-color;
      box-shadow: 2px 3px 5px rgba($color: $dark-color, $alpha: 0.2);
      border-radius: 10px;
      justify-content: space-evenly;
      align-items: center;
      color: $primary-color;

      & a {
        color: $primary-color;
        z-index: 4;
      }

      .close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 2rem;
        transform: translateY(-75%);
        background: $light-color;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
      }
    }
  }
}
